<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>


</head>

<body>
<div id="nav">
    <a class = "navs" href="/about-us" id="AS">About Us</a>
    <a  class = "navs" href="/home"  id="Cool" style="color: yellow;">Cool</a>
    <img class="navs" id="logo" onclick="window.location.href='/home'" src="/poentatanazhivotot.png" >
    <a class = "navs" href="/home" id="Tour" style="color: yellow;">Tour</a>
    <a class = "navs"  href="/login" id="Log">Log in</a>
    <a class = "navs" href="/register" id="Reg" >Register</a>
</div>
<div id="bg">

    <div id="input">
        <input type="text" value="Search for something.." id="searchinput">
        <select value="Филтрирај според категорија.." name="category" id="category">
            <option value="site" selected>Сите објекти</option>
            <option value="aircraft">Урнатини од авиони</option>
            <option value="archeological_site">Археолошки локалитети</option>
            <option value="battlefield">Бојни полиња</option>
            <option value="boundary_stone">Гранични плочи</option>
            <option value="castle">Замоци</option>
            <option value="church">Цркви</option>
            <option value="city_gate">Градски капии</option>
            <option value="memorial">Меморијали</option>
            <option value="monastery">Манастири</option>
            <option value="monument">Споменици</option>

        </select>
        <button onclick="Search()" id="search">Search</button>

    </div>
   <div id="main">
        <div id="map"></div>
       <div id="object"></div>
   </div> 
    

</div>
</body>
</html>