<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="/static/script.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const baseUrl = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
</head>

<body>
<div id="nav">
    <a class = "navs" href="/about-us" id="AS">About Us</a>
    <a  class = "navs" href="/home"  id="Cool" style="color: yellow;">Cool</a>
    <img class="navs" id="logo" onclick="window.location.href='/home'" src="/static/poentatanazhivotot.png" >
    <a class = "navs" href="/home" id="Tour" style="color: yellow;">Tour</a>
    <a class="navs" th:if="${session.user != null}" th:href="@{/logout}" id="Logout">Logout</a>

    <a class = "navs"  href="/login" id="Log" th:if="${session.user == null}">Log in</a>
    <a class = "navs" href="/register" id="Reg" th:if="${session.user == null}">Register</a>
</div>
<div id="bg">

    <form th:action="@{/home/search/searchByName}" method="post" id="mainform">


    <div id="input">
        <input type="text" placeholder="Search for something.." name="query" id="searchinput">
        <select value="Филтрирај според категорија.." name="category" id="category">
            <option value="default" selected>Сите објекти</option>
            <option value="aircraft">Урнатини од авиони</option>
            <option value="archaeological_site">Археолошки локалитети</option>
            <option value="battlefield">Бојни полиња</option>
            <option value="boundary_stone">Гранични плочи</option>
            <option value="castle">Замоци</option>
            <option value="church">Цркви</option>
            <option value="city_gate">Градски капии</option>
            <option value="memorial">Меморијали</option>
            <option value="monastery">Манастири</option>
            <option value="monument">Споменици</option>
        </select>
        <button type="submit" onclick="Search()" id="search">Search</button>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('category').addEventListener('change', function() {
                    document.getElementById('mainform').submit();
                });
            });
        </script>

    </div>
    </form>
    <div id="main">
        <div id="map"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/

            /* Your existing Leaflet initialization code */

            document.addEventListener("DOMContentLoaded", function () {
                const map = L.map('map').setView([41.6086, 21.7453], 8);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);

                var markerData = /*[[ ${objects} ]]*/ [];  // Thymeleaf expression

                for (var i = 0; i < markerData.length; i++) {
                    var marker = L.marker([markerData[i].longitude, markerData[i].latitude]).addTo(map);
                    marker.on('click', function (e) {
                        // Handle marker click
                        var clickedMarker = e.target;

                        updateObjectDiv(clickedMarker.options.objectInfo);
                    });
                    marker.options.objectInfo = markerData[i];
                }
                function updateObjectDiv(objectInfo) {

                    // Update the "object" div content with information from the clicked marker
                    var objectDiv = document.getElementById('object');



                    objectDiv.innerHTML = '<h2>' + objectInfo.name + '</h2>' +
                        '<p class="info-text">Вид на објект: ' + objectInfo.type + '</p>' +
                        '<p class="info-text">X: ' + objectInfo.latitude + '</p>' +
                        '<p class="info-text">Y: ' + objectInfo.longitude + '</p>' +
                        '<p class="info-text">Wikidata: ' + (objectInfo.wikidata ? '<a class="wikidata-link" href="https://www.wikidata.org/wiki/' + objectInfo.wikidata + '" target="_blank">' + objectInfo.wikidata + '</a>' : 'Не е достапно') + '</p>';


                    // Fade in the object box

                    Animacija();

                }
            });
            /*]]>*/
        </script>
        <div id="object"></div>
    </div>
</div>
</body>
</html>