<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="nav">
  <a class = "navs" href="/about-us" style="margin:25px 25vw 29px 5vw; padding-top: 25px;">About Us</a>
  <a  class = "navs" href="/home" style="margin:25px 0vw 25px 0vw; color: yellow; padding-top: 25px;">Cool</a>
  <img onclick="window.location='home.html'" src="/poentatanazhivotot.png" style="margin: 0;">
  <a class = "navs" href="/home" style="margin:25px 17vw 25px 0vw; color: yellow; padding-top: 25px;">Tour</a>
  <a class = "navs"  href="/login" style="margin: 25px 0vw 25px 5vw; padding-top: 25px;">Log in</a>
  <a class = "navs" href="/register" style="margin:25px 5vw 25px 3vw ; padding-top: 25px;">Register</a>
</div>
<div style="background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:0px;
    padding-top: 50px;
    background-image:url('/default.png');
    background-size: cover;
    height: 100vh;
    ">

  <div style=" padding-top: 20px; border: black 2px solid;background-color: rgba(0, 0, 0, 0.7); width: 620px; height: 640px; margin-left: 33vw; justify-content: center; display: block;">
    <h1 style=" margin: auto; padding-top: -20px; justify-content: center; width: 80%; color:yellow;"> Добредојдовте во системот за најава на CoolTour!</h1>
    <img style=" padding-top: 30px; width: 200px; height: 200px;" src="/poentatanazhivotot.png">
    <p style=" color:yellow; padding-top: 30px; font-size:large;">Внесете email или корисничко име:</p>
    <input style=" opacity: 100%; color:grey; width: 300px; height: 30px;" value="Email или корисничко име..">
    <p style=" color:yellow; font-size:large;">Внесете лозинка:</p>
    <input style=" opacity: 100%; color:grey; width: 300px; height: 30px;" value="Лозинка..">
    <button onclick="LOGIN()"style="background-color: yellow; color: black; width: 70px; height: 30px;  display: block; justify-content: center; margin: 50px 20vw 50px 14vw;">Најава</button>
  </div>


</div>
</body>
</html>